<div class="block main">
  <tui-island hoverable="true" class="tui-space_top-6">
    <p class="tui-island__category">Заказы</p>
    <h3 class="tui-island__title">Список новых заказов</h3>
    <tui-input class="tui-group__inherit-item" formControlName="senderName" tuiTextfieldExampleText="House"
      tuiHintContent="Write a number" class="tui-space_bottom-2" icon="tuiIconSearch">
      Поиск по заказам
    </tui-input>
    <table>
      <tr>
        <th>Номер</th>
        <th>Данные отправителя</th>
        <th>Данные получателя</th>
        <th></th>
      </tr>
      <td colspan="5">
        <tui-loader [showLoader]="loading" size="xxl"></tui-loader>
      </td>
      <tr *ngFor="let order of orders">
        <td>{{order.id}}</td>
        <td>{{order.senderName}}, {{order.senderTelephone}}, {{order.senderAddress}}</td>
        <td>{{order.recipientName}}, {{order.recipientTelephone}}, {{order.recipientAddress}}</td>
        <td><button tuiButton type="button" appearance="secondary" size="m" (click)="addOrder(order.id)">Взять
            заказ</button></td>
      </tr>
    </table>
  </tui-island>
</div>
