.main {
  min-height: 100vh;
  background: url("../../../../../assets/background.svg") no-repeat center top / cover;
}

.containerr {
  width: 30vw;
  height: 200px;
  margin-right: 1%;
}

.dflex {
  display: flex;
}
